<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    List Your Puppy Below!
    <form action="/" method="post">
      <p>Name: <input type="text" value="name"></p>
    </form>
  </body>
</html>
